{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us{% endblock %}

{% block content %}
  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">About Really Realtors</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> About</li>
        </ol>
      </nav>
    </div>
  </section>

  <section id="about" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2>We've got a lot of great spots!</h2>
          <p class="lead">You'll probably like them.</p>
          <img src="{% static 'img/about.jpg' %}" alt="">
          <p class="mt-4">Just put some plants up.  Open up the curtains and let the light really shine in.  It's important to let the plants have plenty of sun exposure.  That and a new, fresh coat of paint, and your purchase won't seem so unreasonable.</p>
        </div>
        <div class="col-md-4">
          {% if mvp_realtors %}
            {% for realtor in mvp_realtors %}
                <br/>
                <br/>
                <div class="card mt-xl-5">
                  <img class="card-img-top" src="{{ realtor.photo.url }}" alt="Seller of the month">
                  <div class="card-body">
                    <h5 class="card-title">Seller Of The Month</h5>
                    <h6 class="text-info">{{ realtor.name }}</h6>
                    <p class="card-text">{{ realtor.description }}
                    </p>
                  </div>
                </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">We Work Hard For The Money</h2>
    <h4>We'll do the same for you...cause that's how we get paid, lol!</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-info text-white btn-lg">View Our Spots</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Our Team</h2>
      <div class="row text-center">
        {% if realtors %}
          {% for realtor in realtors %}
            <div class="col-md-4">
              <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
              <h4>{{ realtor.name }}</h4>
              <p class="text-info">
                <i class="fas fa-award text-info mb-3"></i></p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
              <p>
                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>No Realtors Available</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>
{% endblock %}
